﻿mixin inputBox(description, fieldname)
    div(style="display: flex") 
        div(style="display: block; padding: 1rem") 
            div(id=fieldname+"_description") #{description}
            input(id=fieldname, name=fieldname, type="text", style="width:10rem")  

mixin inputBoxDate(description, fieldname)
    div(style="display: flex") 
        div(style="display: block; padding: 1rem") 
            div(id=fieldname+"_description") #{description}
            input(id=fieldname, name=fieldname, type="date", style="width:10rem")  

mixin selectBoxStatus(description, fieldname)
    div(style="display: flex") 
        div(style="display: block; padding: 1rem") 
            div(id=fieldname+"_description") #{description}
            select(id=fieldname, name=fieldname, type="text", style="width:10rem")  
               option(value=" ") auswählen
               option(value="VM") Hauptmitglied
               option(value="FM") Familienmitglied
               option(value="J") Jugendlicher
               option(value="St") Student
               option(value="JT") Schnupperkind

mixin selectBoxGeschlecht(description, fieldname)
    div(style="display: flex") 
        div(style="display: block; padding: 1rem") 
            div(id=fieldname+"_description") #{description}
            select(id=fieldname, name=fieldname, type="text", style="width:10rem")  
               option(value=" ") auswählen
               option(value="m") Männlich
               option(value="w") Weiblich
               option(value="d") Divers

mixin inputBox2(description, fieldname, readonly)
    div(style="display: flex") 
        div(style="display: block; padding: 1rem; width: 22rem") 
            div(id=fieldname+"_description") #{description}
            input(name=fieldname, id=fieldname, type="text", style="width:22rem", readonly=readonly)  


mixin title(description)
        div(style="display: block; padding: 10px; width: 100%; background:#ccc") 
            div #{description}


html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    title Antrag auf Beitritt zum TCGW 
    
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    //script(src='/javascripts/jquery.min.js')

    style.
        td {
            padding:10px;
        } 
        input, select {
            height:30px;
            width:180px;
            padding-left:5px;
        }
        .ll1 {
            float: left;
            width: 140;
            margin-top:20px;
        }

        .ll2 {
            float: left;
            width: 180;
            margin-top:20px;    
        }
        .container1 {
            display: flex;
            width: 100%;
            flex-direction: column;
            flex-wrap:wrap; 
            align-items : center;
        }

        .#xx > div {
            min-width: 80px;
            min-height: 80px;
            border: 1px solid black;
            flex-direction: row;
            display: block;

        }

        .container {
            width: 25rem;
            flex-direction: row;
            display: flex;
            flex-wrap:wrap; 
            flex-flow: row wrap;
            align-items: flex-start;

        }

   body(style="margin:0; background:#e0e0e0;")
      .div(style='margin:0; padding: 0; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif')

          div(style=" background-color:#004000;  color:white;text-align:center; margin:0; padding-top:0.5rem; padding-bottom:0.5rem; width:100%")
            h1 TC Grün Weiss Am&nbsp;Kreuzberg&nbsp;e.V.
            h2 Antrag auf Mitgliedschaft

          div(style="background:white;")
              form(method="post", action='/antrag/stellen' onsubmit="return validateForm()" )
                 div

                    .container1

                        .container 
                            +inputBox("Titel", "Title")  

                        .container 
                            +inputBox("Vorname", "FirstName")  
                            +inputBox("Nachname", "LastName")

                        .container
                            +title("Adresse")

                        .container
                            +inputBox2("Straße", "Street")

                        .container 
                            +inputBox("PLZ", "PostCode")
                            +inputBox("Stadt", "City") 

                        .container
                            +inputBox("Email", "Email")

                        .container
                            +title("persönliche Daten")

                        .container
                            +selectBoxGeschlecht("Geschlecht", "Sex")
                            +inputBoxDate("Geburtstag", "BirthDate")

                        .container
                            +selectBoxStatus("Status", "MemberStatus")
                            +inputBox("Hauptmitglied", "MasterMember")


                        .container
                            +title("Bankkonto")

                        .container
                            +inputBox2("IBAN", "AccountIBAN")

                        .container
                            +inputBox2("BIC", "AccountBIC", true)

                        .container
                            +inputBox2("Bank", "AccountBankName", true)

                        .container
                            +title("Inhaber (falls abweichend vom Mitglied)")

                        .container
                            +inputBox("Vorname", "AccountFirstName") 
                            +inputBox("Nachname", "AccountLastName") 


                        .container(style="width:25rem") 

                            div(style="display: flex") 
                                div(style="display: block; padding: 10px") 
                                    button(type="submit" style="width:24rem; max-width:100%; height:2rem; background-color: #004000; color: white; font-weight: bold") Antrag absenden

      script.
            var ibanOk = false

            $("#AccountIBAN").change(function () {
              var iban = $(this).val()
              checkIBAN(iban)
            })

            function checkNotEmpty(id) {
                var ok = false
                var v = $(id).val()
                if(typeof v !== "undefined") {
                    v = v.trim()
                    ok = (v != "")
                } 
                
                if (ok) {
                          $(id + "_description").css ("background", "yellowgreen") 
                } else {
                          $(id + "_description").css ("background", "red") 
                }

                return ok
            }

            function validateForm() {
                var masterMemberSet = ($("#MasterMember").val().trim() != "")


               var c1 = (ibanOk || masterMemberSet)
               if (!c1) {
                 checkNotEmpty("#AccountIBAN")
               }

               var c2 = checkNotEmpty("#FirstName")
               var c3 = checkNotEmpty("#LastName")


               var c4 = checkNotEmpty("#Street")
               var c5 = checkNotEmpty("#PostCode")
               var c6 = checkNotEmpty("#City")
               var c7 = checkNotEmpty("#Email")

               var c8 = checkNotEmpty("#Sex")
               var c9 = checkNotEmpty("#BirthDate")

               var c10 = checkNotEmpty("#MemberStatus")
               

               //             +inputBox("Hauptmitglied", "MasterMember")




               var ok = c1 && c2 && c3 && c4 && c5 && c6 && c7 && c8 && c9 && c10

               if (!ok) {
                   alert("Antrag wurde noch NICHT gesendet \n Bitte korrigiere Deine Daten")
               }

               return ok

            }

            function checkIBAN(iban) {

                fetch('/antrag/checkiban?iban=' + iban)
                .then(response => 
                        response.json()
                    )
                .then(data => {
                    ibanOk = data.valid
                    if (data.valid) {
                          var bic = data.bankData.bic
                          var name = data.bankData.name
                          $("#AccountIBAN_description").css ("background", "yellowgreen") 
                          $("#AccountIBAN_description").html ("IBAN geprüft") 
                          $("#AccountBIC").val (bic) 
                          $("#AccountBankName").val (name)
                          return
                        }

                    $("#AccountIBAN_description").css ("background", "#f00") 
                    $("#AccountIBAN_description").html ("IBAN falsch") 
                    $("#AccountBIC").val ("") 
                    $("#AccountBankName").val ("")
                });
            }


