doctype html
html
  meta(name="viewport" content="width=device-width,initial-scale=1, maximum-scale=2, minimum-scale=1")
  head
    title= "TC GW Platzreservierung"

    style.
      input
        { width:50%; 
          display:block;
          margin-bottom:10px
        }

      p {
        text-align: center; 
        padding-bottom:10px; 
        font-size:1em
      }

      .col-a 
        { width:40%; 
          display:inline-block
        }

      .col-b 
        { 
          width:55%; 
          display:inline-block;
          font-weight: bolder
        }

      #top,
      body {   
        background-color:white;
      }

      #top {
         background-color: #bbb; 
         height: 8em; 
         padding:0; 
      }

      @media only screen and (min-width: 761px) {
        /* Laptops ----------- */
        #top { 
          width: 760px 
        }
          
      }

     
  body(style="background-color: white; overflow: scroll")

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
   

    #top.container
      div(style="background-color: #bbb; height: 8em")
          img(src="/images/logo_MINI.png" style="float: right; width:7em; margin-top:1em; margin-right:1em")

          h1(style="text-align: center; padding-bottom:0px; padding-top:1em; font-size:1.5em") 
            | Digitaler Clubpass

          h2(style="text-align: center; font-size:1em") 
      
            | TC Grün-Weiss 
            br
            | Am Kreuzberg e.V.  

      .container
        br
        br

        p(style="text-align: center; font-size:1em") Zum Benutzen userer Platzreservierung musst Du Dich einmalig auf diesem Gerät anmelden

        p 
          | Dadurch wird dieses Gerät für Dich als Clubpass personalisiert, 
          br
          | und Du kannst bequem Platzreservierungen vornehmen

        p 
        | Dieses Gerät kann danach nicht mehr ohne weiteres für eine Reservierung durch andere (Familien-)Mitgliedern genutzt werden. 
        br 

        p(style="font-weight:bold") 
          |  Daher bietet es dringend an, 
          br
          | hierzu Dein Handy zu verwenden.

        p 
        | Das Handy wird so zu Deinem persönlichen, exklusiven Zugang zu unserem Club.

        br
        br


        -if (name)
            p 
              | Hallo 
              span(style="font-weight:bold") #{name}
              | ,
              br
              | wir haben Deine Mitgliedsnummer und Deinen Pin bereits eingetragen.
              br
              | Bitte einem witeren Click wird Dein Clubpass aktiviert

              

      
      .container(style="width:70%; padding-left:15% padding:0")
                .row
                    .col-a Mitgliedsnummer:
                    .col-b
                        input#memberId(type="text",  value="#{id}")

                    br

                    .col-a PIN:
                    .col-b
                        input#pin(type="text",  value="#{pin}")


      br
      .error(style="background-color:#ff8888; padding:1em;")
        #msg1(style="text-align: center; font-size:1em; ")

      .modal-footer(style="padding-right:10%")
        button(type="button" onclick="registieren()" class="btn btn-primary"  style="font-size:1em") Registieren


  script.
      var error = null
      
  - if (error)
    script.
      var error = "#{error}"

  script.

    $(function () {
         if (error) {
            $("#msg1").html("Mitgliedsnummer oder PIN nicht mehr gültig")

         } else {
          $(".error").hide()
         }
    });
  

    function loginDone(data) {
      try {
      if (data.memberId) {
          localStorage.setItem('user', JSON.stringify(data));
          localStorage.setItem('id', $("#memberId").val());
          localStorage.setItem('pin', $("#pin").val());
          window.location.href = "/booking";
      } else {
        $(".error").show()
        $("#msg1").html("Falsche Mitgliedsnummer oder PIN")
      }
      } catch (ex) {
        alert ('Wahrscheinlich sind in den Einstellungen "Alle Cookies blockiert" +\n Um den digitalen Clubpass zu verwenden mußt Du Cookies zulassen' +  ex.message)
      }
    }


    function registieren() {

      var registerInfo = {
        memberId: $("#memberId").val(),
        pin: $("#pin").val()
      }

      $.post(
        'doregister', registerInfo,

        function (data) {
          loginDone(JSON.parse(data));
        }
      );

    }

