﻿html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    title Booking Managment Console
    
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    //script(src='/javascripts/jquery.min.js')

    style.
        td {
            padding:10px;
        } 
        input, select {
            height:30px;
            width:180px;
            padding-left:5px;
        }
        .ll1 {
            float: left;
            width: 140;
            margin-top:20px;
        }

        .ll2 {
            float: left;
            width: 180;
            margin-top:20px;    
        }
        .container1 {
            display: flex;
            width: 100%;
            flex-direction: column;
            flex-wrap:wrap; 
            align-items : center;
        }

        .#xx > div {
            min-width: 80px;
            min-height: 80px;
            border: 1px solid black;
            flex-direction: row;
            display: block;

        }

        .container {
            width: 42rem;
            flex-direction: row;
            display: flex;
            flex-wrap:wrap; 
            flex-flow: row wrap;
            align-items: flex-start;

        }

   body(style="margin:0; background:#e0e0e0;")
      div(style='margin:0; padding: 0; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif')

          div(style=" background-color:#004000;  color:white;text-align:center; margin:0; padding-top:0.5rem; padding-bottom:0.5rem; width:100%")
            h1 TC Grün Weiss Am&nbsp;Kreuzberg&nbsp;e.V.
            h2 Booking Management Console

          div(style="padding: 2rem; padding-left: 3rem; text-align:center")

            h2 Buchungssystem Administration

            a(href="bookingManagement/medenspiele") Jährliche Medenspiel-Liste zum Buchungssystem senden
            br
            br

            a(href="bookingManagement/manageNews?type=fixednews") Manage Fixed-News Eintrag im Buchungssystem bearbeiten
            br
            br
            a(href="bookingManagement/manageNews?type=hotnews") Manage Hot-News Eintrag im Buchungssystem bearbeiten
            br
            br

            br
            br

            h2 Aktuelle Buchungen verwalten
            a(href="../booking?clubhausMode=true") Zum Buchungssystem (im Clubhause Mode)
            br
            br

            br
            br

            h2 Jahresabrechung Gastspielgebühren

            a(href="rechnungGast/createData") 1. Daten sammelen
            br
            br
            a(href="rechnungGast/rechnungenerstellen")  2. Rechungen erstellen
            br
            br
            a(href="rechnungGast/sendRechnungen") 3. Rechungen versenden
            br
            br
            a(href="rechnungGast/SEPA") 4. SEPA Lastschriftdatei erstellen
            br
            br


            h2 PIN für Buchungssystem

            a(href="bookingManagement/ShowPinForMemberId") PIN anzeigen
            br
            br


