doctype html
html
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2, minimum-scale=1")
 
  body.darkMode

 
    p Diese Seite ist nicht mehr aktiv.
      
    p Bitte benutze bitte die aktuelle Reservierungs-App unter 

    a(href="https://app.tc-kreuzberg.de") https://app.tc-kreuzberg.de



