﻿head
  title TC Grün Weiß Am Kreuzberg e.V.
  meta(name="viewport" content="width=device-width, user-scalable=no")
  link(rel="manifest" href="manifest.json")
  link(rel="icon" href="/images/icon256.png" type="image/png")

  style.

      p {
        text-align: center; 
        padding-bottom:10px; 
        font-size:1em
      }

      #top,
      body {   
        background-color:white;
      }

      #top {
         background-color: #bbb; 
         height: 8em; 
         padding:0; 
      }

      @media only screen and (min-width: 761px) {
        /* Laptops ----------- */
        #top { 
          width: 760px 
        }
          
      }

body
    script.
        if (navigator.serviceWorker != null) {
            navigator.serviceWorker.register('ServiceWorker.js')
                .then(function(registration) {
                    console.log('Registered events at scope: ', registration.scope);
                });
        }

        var statusEl = document.querySelector('#network-status')
        if (!navigator.onLine && statusEl) {
            statusEl.classList = ['is-offline']
            statusEl.innerText = 'Offline'
        }

        
        var buttonInstall = document.querySelector('#buttonInstall')
        buttonInstall.addEventListener('click', (e) => {
        // Hide the app provided install promotion
        hideMyInstallPromotion();
        // Show the install prompt
        deferredPrompt.prompt();
        // Wait for the user to respond to the prompt
        deferredPrompt.userChoice.then((choiceResult) => {
            if (choiceResult.outcome === 'accepted') {
            console.log('User accepted the install prompt');
            } else {
            console.log('User dismissed the install prompt');
            }
        })
        });
     
  body(style="background-color: white;")

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
    script(src="/indexPwa.js")
   

    #top.container
            img(src="/images/logo_MINI.png" style="float: right; width:7em; margin-top:1em; margin-right:1em")

            h1(style="text-align: center; padding-bottom:0px; padding-top:1em; font-size:1.5em") 
                | TC Grün-Weiss 
                br
                | Am Kreuzberg e.V.  
            br
            br

    .container
            br
            br
            br
            p Herzlich Willkommen

            p
            // button.add-button Füge der Clubpass deinem Homescreen hinzu

