﻿
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    //script(src='/javascripts/jquery.min.js')
    

    link(href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css', rel='stylesheet', type='text/css')
    link(href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.css', rel='stylesheet', type='text/css')


    // jPList core js and css
    link(href='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/css/jplist.core.min.css', rel='stylesheet', type='text/css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.core.min.js')
    // sort bundle
    script(src='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.sort-bundle.min.js')


    // textbox filter control
    script(src='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.textbox-filter.min.js')
    link(href='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/css/jplist.textbox-filter.min.css', rel='stylesheet', type='text/css')
    // jplist pagination bundle
    script(src='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.pagination-bundle.min.js')
    link(href='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/css/jplist.pagination-bundle.min.css', rel='stylesheet', type='text/css')
    // jplist history bundle
    script(src='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.history-bundle.min.js')
    link(href='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/css/jplist.history-bundle.min.css', rel='stylesheet', type='text/css')
    // jplist toggle bundle
    script(src='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.filter-toggle-bundle.min.js')
    link(href='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/css/jplist.filter-toggle-bundle.min.css', rel='stylesheet', type='text/css')
    // jplist views control
    script(src='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.list-grid-view.min.js')
    link(href='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/css/jplist.list-grid-view.min.css', rel='stylesheet', type='text/css')

    // filter dropdown control
    script(src='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.filter-dropdown-bundle.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.sort-buttons.min.js')

    // preloader
    script(src='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.preloader-control.min.js')
    link(href='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/css/jplist.preloader-control.min.css', rel='stylesheet', type='text/css')

  body(style="overflow:hidden; height:100%; position:absolute; ")

    style.
        .details td {
            padding:5px;
            vertical-align: top;
        }

        .detailBlock {
            float:left;     
            background:#e0f0e0;  
            border: 10px solid #e0f0e0;  
            margin-right:20px; 
            margin-bottom:10px;
        }

        .detailBlock .Header {
           font-weight: bold
        }

        button.details-control {
            margin-left:-3px; 
            margin-top:-5px;
        }

        .table-responsive th {
           cursor: pointer;
        }

        .clear { clear: both; }


    .div(style="height:100%; position:absolute; padding:0;")
        block content
