doctype html
html
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2, minimum-scale=1")
  head
    title= "TC GW Platzreservierung FAQ"
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")

    style.
    
      p.a {
        margin: 0;
        margin-left: 1em
      }

      @media only screen and (max-width: 760px) {
        /* Smartphones ----------- */
        #some-element { display: none; }
      }

      @media only screen and (min-width: 761px) {
        /* Smartphones ----------- */
        #top { 
          width: 760px 
        }
          
      }

      #top,
      body {   
        background-color:white;
      }
      
 
      @media (prefers-color-scheme: dark) {
        body {   
             background-color:black;
        }



        #top,
        #myCanvas,
        .darkMode {
             background-color:black;
             color:white;

        }



      }


  body.darkMode

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js")
    script(src='/javascripts/bootbox.min.js')

    #top.container.darkMode(style="padding-left:0; padding-right:0; padding-top:0; margin-top:0")
          div(style="background-color: #bbb; height: 6em; margin-top:-20px")
              img(src="/images/logo_MINI.png" style="float: right; width:7em; margin-top:1em; margin-right:1em")

              h1.darkMode(style="text-align: center; padding-bottom:0px; padding-top:1em; font-size:1.5em") 
                | Hotnews editieren

          .container(style="width:100%; margin-left:0%; padding:10px;")
                p(style="font-weight: bold") Benutze Markdown, wie zum Beispiel:
                p.a # Überschrift
                p.a Das ist *fett*
                p.a * erstens
                p.a * zweites
                br




                textarea#faqContent(type="text" style="width:100%; height: 20em" )=currentContent
                button#send Senden
    script.
        (function () {
            var type = "#{type}"
            console.log ("init")
            $("#send").click(function(){
                $.post("/bookingManagement/uploadNews?type=" + type, {data: $("#faqContent").val()}, function (data) {
                  window.location.href = "/bookingManagement/manageNews?type=" + type
                });
            });
        })();
        



