﻿mixin memberRowTemplate(item)
        tr.list-item.box(id="id#{item.Member.MemberID}")
            td.Index.fData #{item.Index}  
            td.FirstName.fData #{item.Member.FirstName}  
            td.LastName.fData #{item.Member.LastName}   
            td.Info.fData #{item.Info}
            - if (RechnungsType)
                td
                   a(href="/members/showRechnung?id=#{item.Member.MemberID}&type=#{RechnungsType}", onclick="this.target='_blank'") Anzeigen

doctype html
extends layout

block content
    style.
        button.back,
        button.submit,
        button.edit {
            position: absolute;
            right: 0px;
            top: -10px;
            height: 50px;
            width: 50px;
            background-color: #006000;
            color: white;
            font-weight: bold;
            margin-left: 10px;
            border-radius: 25px;
            border: 0px;
            box-shadow: 2px 2px grey;
            z-index:1;
        }

    #demo.box.jplist(style="height:100%; position:relative;")
        .panel.box.panel-top(style="background:#a0a0a0; padding-bottom:10px; margin-bottom:0; border-radius:0; padding-left:5px; display:block; height:50px;") 

            button.back(style="display:block; float:left; position:relative; margin-right: 20px; top:5; left:-10; ", onClick="window.location.href='/members/list';") Back 

            .hidden#SortControl(
                    data-control-type="default-sort", 
                    data-control-name="sort", 
                    data-control-action="sort",
                    data-path=".Index", 
                    data-order="asc", 
                    data-type="number")
                  
            div(style="display:block; float:left;  height:50px; padding-top:15px;;  margin-right:30px") 
                | #{Title}


            // filter
            .filter.text-filter-box(style="float:left; margin-top:10px; width: 150px;  margin-right:30px")
                input(data-path='.fData', type='text', value='', placeholder='Filter', data-control-type='textbox', data-control-name='Name-filter', data-control-action='filter', style="width:100%; height:30px; padding-left:5px; ")

            // Special Columnn

            .reset-box.left(style="float:left; margin-top:12px; margin-left:10px; display:none")
                input.reset-btn(type='button', value='Reset', data-control-type='reset', data-control-name='reset', data-control-action='reset')


            - if (pendingMailProcess != undefined)
                - if (pendingMailProcess.Current < pendingMailProcess.Total)
                    .pendingMailProcess(style="float:left; margin-top:15px; color:white") Prozess läuft: #{pendingMailProcess.Current} von #{pendingMailProcess.Total} bearbeitet
                    script.
                      setTimeout(function(){ location.reload(); }, 2000);
                - else
                    .pendingMailProcess(style="float:left; margin-top:15px; color:white") Prozess abgeschossen: #{pendingMailProcess.Total} bearbeitet

            div(style="float:left; margin-top:15px; margin-left:20px; margin-right:30px; color:white; ")
                span  Anzahl:
                span#RowCount


            div(style="clear:left")

           
        
        // data
        .table-responsive(style="height:calc(100% - 50px); clear:both; overflow:auto; margin:0;")    
            table.table.table.table-condensed.table-hover.list.box.text-shadow
                tr
                    th(data-SortName=".Index", data-type="number") Nr
                    th(data-SortName=".FirstName", data-type="text") Vorname
                    th(data-SortName=".LastName", data-type="text") Nachname
                    th(data-SortName=".Info", data-type="text") Info

                - each value, index in Result
                        +memberRowTemplate (value)
  
        .box.jplist-no-results.text-shadow.align-center
            p No results found

  
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
  
    script.
        function OnResize() {
                    $('#demo').width($(window).width());
                    $('.table-responsive').height($('.table-responsive').parent().height() -  $('.table-responsive').position().top);
                    $('.details').width($(window).width()-60);
        }

        function InitList() {
            $('#demo').jplist({
                items_box: '.list'
                , item_path: '.list-item'
                , panel_path: '.panel'
                , redrawCallback: function(collection, $dataview, statuses){
                     $("#RowCount").text($dataview.length);
                }
            });
        }

        $('document').ready(function () {
           InitList();
           OnResize();
        });

        $(window).resize(function () {
            OnResize();
        });

        $('#tag').change(function(){
            window.location.href =  window.location.href.split("?")[0] + "?tag=" + $(this).val();
        });


        $("[data-SortName]").mousedown(function(){
           var sCtrl = $("#SortControl");

           if (sCtrl.attr("data-path") == $(this).attr("data-SortName")) {
              //
              // toggle order
              //
             if (sCtrl.attr("data-order") == "desc")
                sCtrl.attr("data-order", "asc");
             else
                sCtrl.attr("data-order", "desc");
           }
           else {
             sCtrl.attr("data-type", $(this).attr("data-type"));
             sCtrl.attr("data-path", $(this).attr("data-SortName"));
             sCtrl.attr("data-order", "asc");
           }



           InitList();
        });


        $('.tagDefaultValue').click(function() {
            $p = $(this).parent()
            $p.find('input').val("#{DefaultBeitrag}");
        });

        $('.tagClear').click(function() {
            $p = $(this).parent()
            $p.find('input').val("");
        });

        // Add event listener for opening and closing details
        $('#demo').on('click', '.details-control', function () {
            $p = $(this).parent()

            if ($(this).text() == "+") {
                $p.find(".details").show();
                $(this).text("-");
            } else {
                $p.find(".details").hide();
                $(this).text("+");
            }


        } );
