﻿mixin inputBox(item, fieldname) 
    .inputBox.fData(FieldName=fieldname) 
        .txt  #{item[fieldname]}


mixin Bankverbindung(item)
    -if (isMasterMember(item))
        table.detailBlock
            col(width="*")
            col(width="*")
            tr
                td.Header(colspan="2") Bankverbindung

            tr
                td Inhaber:
                td 
                    table
                        tr
                            td(style="position:relative; padding:0")
                                +inputBox(item, "AccountFirstName")
                            td(style="position:relative; padding:0")
                                +inputBox(item, "AccountLastName")   
            tr
                td IBAN: 
                td(class="#{item.AccountIBAN?'Einzug':'OhneEinzug'}") 
                    +inputBox(item, "AccountIBAN") 
            tr
                td BIC
                td
                    +inputBox(item, "AccountBIC")
            tr
                td Bank: 
                td.AccountBankName.fData 
                    .txt1  #{item.AccountBankName}
            tr
                td &nbsp; 


mixin Adresse(item)
        table.detailBlock
            col(width="*")
            col(width="*")
            tr
                td.Header(colspan="2") Adresse

            tr
                td Straße 
                td 
                    +inputBox(item, "Street") 
            tr
                td Stadt
                td 
                    +inputBox(item, "City") 

            td PLZ
                td 
                    +inputBox(item, "PostCode") 

mixin PersoenlicheDaten(item)
    table.detailBlock
        tr
            td.Header Daten
        tr
            td Geburtstag: 
            td.BirthDate 
                +inputBox(item, "BirthDate")
        tr
            td Status
            td.MemberStatus(FieldName="MemberStatus", class="MemberStatus_#{item.MemberStatus}") 
                select(name="MemberStatus" disabled)
                    - each value, name in StatusOptions
                        -if (name == item.MemberStatus)
                            option(value=name selected) #{value}
                        - else
                            option(value=name) #{value}

        tr
            td Geschlecht
            td.Sex(FieldName="Sex") 
                select(name="Sex" disabled)
                    - each value, name in {m: "männlich", w: "weiblich"}
                        -if (name == item.Sex)
                            option(value=name selected) #{value}
                        - else
                            option(value=name) #{value}

        tr
            td ID: 
            td.MemberID.fData 
                .txt1  #{item.MemberID}
        tr
            td MasterID: 
            td.MasterMemberID.fData 
                +inputBox(item, "MasterMemberID")

        - if (item.EnterDate)  
            tr
                td Eintritt: 
                td.fData 
                    .txt1  #{item.EnterDate}

        - if (item.LeaveDate)  
            tr
                td Austritt: 
                td.fData 
                    .txt1  #{item.LeaveDate}
                LeaveDate


mixin Traningsbebuehren(item)
    - var isEmpty = (!item["#Beitrag Training Winter"] && !item["#Beitrag Training Sommer"]) 
    - if (!isEmpty || (item.MemberStatus && item.MemberStatus[0] == "J"))
        table.detailBlock
            tr
            td.Header Traningsbebühren
            - found = false
            - each value, key in ["#Beitrag Training Winter", "#Beitrag Training Sommer"]
                - if (item[value])
                        - found = true
                        tr
                        td #{value.substr(8)} 
                        td #{item[value]} €

            - if (!found)
                tr
                    td -- keine --


mixin Rechnung(item)
    -if (isMasterMember(item))
        table.detailBlock
            tr
            td.Header Rechnungen
            - found = false
            - each value, key in ["#Rechnung Training Winter", "#Rechnung Training Sommer", "#Rechnung Mitgliedschaft"]
                - if (item[value])
                        - found = true
                        tr
                            td #{value.substr(9)} 
                            td #{item[value]} €
                            td
                                a(href="/members/showRechnung?id=#{item.MemberID}&type=#{value.substr(1)}", onclick="this.target='_blank'") Anzeigen

            - if (!found)
                tr
                    td -- keine --



mixin Familienmitglieder(item)
    table.detailBlock
        tr
            td.Header(colspan="2") Familienmitglieder

        - found = false
        - each fItem, i1 in familyMembers(item.MasterMemberID)
            tr
                -if (fItem != item && ((fItem.Aktiv!="false") || showLeaveDate))
                    - found = true
                    td 
                        a(href="#", targetId="#{fItem.MemberID}") (#{fItem.MemberStatus}) #{fItem.FirstName} #{fItem.LastName}    
        - if (!found)
            tr
                td -- keine --




mixin Aenderungen(item)

    - var isEmpty = (!item.ChangeHist || item.ChangeHist.length <= 0) 
    - if (!isEmpty)
        table.detailBlock(style="#{isEmpty?'display:none':''}")
            tr
                td.Header Änderungen

            - if (item.ChangeHist && item.ChangeHist.length > 0) 
                - found = false
                - each value, i in item.ChangeHist
                    tr
                        td bis #{value.ChangeDate} 
                        td #{value.Property}: 
                        td #{value.OldValue}
            - else
                tr
                    td -- keine --



mixin memberRowTemplate(item)
  - bgColor = "";
  - if(item.Aktiv=="false") bgColor = "#ffe0e0";
       
       tr.list-item.box(MemberID="#{item.MemberID}",  style="background-color:#{bgColor}" )
            td
                div(style="overflow:visible; width:20px", class="#{item.yEnter?'ye'+item.yEnter:''} #{item.yLeave?'yx'+item.yLeave:''}") 
                   button.details-control +
                   div.details
                        button.edit Edit
                        button.submit Ok
                        - if(item.Aktiv=="false")
                            button.eintreten 
                                | Ein
                                br
                                | treten
                            div(style="padding:10px; display:block")
                        -else
                            button.austreten 
                                | Aus
                                br
                                | treten



                        div(style="padding:10px; display:block")

                            +Adresse(item)
                            +PersoenlicheDaten(item)
                            +Bankverbindung(item)
                            +Familienmitglieder(item)
                            +Traningsbebuehren(item)
                            +Rechnung(item)
                            +Aenderungen(item)

                            - var isEmpty = (!item.Remark || item.Remark == "") 
                            table.detailBlock.showOnEdit(style="#{isEmpty?'display:none':''}")
                               tr
                                 td.Header Bemerkung
                               tr
                                 td.Remark.fData(fieldName="Remark")
                                   textarea(cols="30", style="height:100px" disabled) #{item.Remark}

                            .clear

            td.MNr.fData #{("" + item.MemberID).padStart(4, '0')}

            td.FirstName.Name.fData 
                +inputBox(item, "FirstName")  

            td.LastName.Name.fData(class="#{item.AufnahmeAntrag?'AAW':''}")
                    +inputBox(item, "LastName")
                   
            td.Email.fData
                +inputBox(item, "Email")

            - if (showLeaveDate)
                td.LeaveDate.fData #{item.LeaveDate}

            - var hasValue = false

            - each spCol, iCol in additionalColumns
                td.spCol 
                   - v = item[spCol.Name];
                   - hasValue = (v != undefined) 
                   - if (spCol.Name.substr(0,1) == "R")
                       - if ((v != undefined) && (v != "0"))
                           .spColVal.spColValueSet.fData(style="display:block") #{v}
                       -else
                           .spColVal.spColValueNotSet
                   - else
                       - if ((v != undefined) && (v != "0")) 
                            input.spColValueSet(value="#{v}",  style="width:50px", FieldName="##{spCol.Name}" )
                       - else
                            input.spColValueNotSet(style="width:50px",  FieldName="##{spCol.Name}")
                       .fData.spColVal #{v}
                       button.tagDefaultValue !
                       button.tagClear X

            - each spCol, iCol in specialColumns
                td.spCol 
                   - v = item["#" + spCol.Name];
                   - hasValue = (v != undefined) 
                   - if (spCol.Name.substr(0,1) == "R")
                       - if ((v != undefined) && (v != "0")) 
                           .spColVal.spColValueSet.fData(style="display:block") #{v}
                       -else
                           .spColVal.spColValueNotSet
                   - else
                       - if ((v != undefined) && (v != "0")) 
                            input.spColValueSet(value="#{v}",  style="width:50px", FieldName="##{spCol.Name}" )
                       - else
                            input.spColValueNotSet(style="width:50px",  FieldName="##{spCol.Name}")
                       .fData.spColVal #{v}
                       button.tagDefaultValue !
                       button.tagClear X

            td
              -if (isMasterMember(item)  &&  specialColumns.length == 1   &&    specialColumns[0].Name.substr(0,8) == "Rechnung")
                  .dropdown
                        button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown" style="height:25px; width:25px; padding:0px;") ... 
                        ul.dropdown-menu.dropdown-menu-right
                            li.dropdown-header  #{specialColumns[0].Name}
                            - if (hasValue)
                                li
                                    a(href="/members/showRechnung?id=#{item.MemberID}&type=#{specialColumns[0].Name}", onclick="this.target='_blank'") ... anzeigen
                                li
                                    a(href="/members/sendRechnungen?id=#{item.MemberID}&type=#{specialColumns[0].Name}", onclick="this.target='_blank'") ... versenden
                                li
                                  | &nbsp;
                                li
                                    a.menu1(href='/members/rechnungenerstellen?type=#{specialColumns[0].Name}&id=#{item.MemberID}', onclick="this.target='_blank'") ... NEU erstellen
                                li
                                    a.menu1(href='/members/deleteRechnungen?type=#{specialColumns[0].Name}&id=#{item.MemberID}', onclick="this.target='_blank'") ... löschen
                            - else
                                li
                                    a.menu1(href='/members/rechnungenerstellen?type=#{specialColumns[0].Name}&id=#{item.MemberID}',  onclick="this.target='_blank'") ... erstellen

                            li.dropdown-header  Pin-Brief
                            li
                                a.menu1(href='/members/rechnungenerstellen?type=PinBrief&id=#{item.MemberID}',  onclick="this.target='_blank'") ... erstellen
                            li
                                a(href="/members/sendRechnungen?id=#{item.MemberID}&type=PinBrief", onclick="this.target='_blank'") ... versenden
                            li
                                a(href="/members/showRechnung?id=#{item.MemberID}&type=PinBrief", onclick="this.target='_blank'") ... anzeigen