﻿include MemberControls

doctype html

html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    title TCGW Mitgliederverwaltung
    
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    //script(src='/javascripts/jquery.min.js')
 
    script(src='/javascripts/bootbox.min.js')
    

    link(href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css', rel='stylesheet', type='text/css')
    link(href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.css', rel='stylesheet', type='text/css')

    // jPList core js and css
    link(href='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/css/jplist.core.min.css', rel='stylesheet', type='text/css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.core.min.js')
    // sort bundle
    script(src='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.sort-bundle.min.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/locale/de.js')


    // textbox filter control
    script(src='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.textbox-filter.min.js')
    link(href='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/css/jplist.textbox-filter.min.css', rel='stylesheet', type='text/css')
    // jplist pagination bundle
    script(src='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.pagination-bundle.min.js')
    link(href='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/css/jplist.pagination-bundle.min.css', rel='stylesheet', type='text/css')
    // jplist history bundle
    script(src='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.history-bundle.min.js')
    link(href='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/css/jplist.history-bundle.min.css', rel='stylesheet', type='text/css')
    // jplist toggle bundle
    script(src='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.filter-toggle-bundle.min.js')
    link(href='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/css/jplist.filter-toggle-bundle.min.css', rel='stylesheet', type='text/css')
    // jplist views control
    script(src='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.list-grid-view.min.js')
    link(href='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/css/jplist.list-grid-view.min.css', rel='stylesheet', type='text/css')

    // filter dropdown control
    script(src='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.filter-dropdown-bundle.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.sort-buttons.min.js')

    // preloader
    script(src='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.preloader-control.min.js')
    link(href='//cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/css/jplist.preloader-control.min.css', rel='stylesheet', type='text/css')

  body(style="overflow:hidden; height:100%; position:absolute; ")

    - var DetailsMarginLeft = "30px" 
    - if (IsMobile) DetailsMarginLeft = "0px"

    style.
        .details {
            display:none; 
            margin-left:#{DetailsMarginLeft}; 
            margin-top:10px; 
            width:500px; 
            position: relative;
        }

        .details td {
            padding:5px;
            vertical-align: top;
        }

        .detailBlock {
            float:left;     
            background:#e0f0e0;  
            border: 10px solid #e0f0e0;  
            margin-right:20px; 
            margin-bottom:10px;
        }

        .detailBlock .Header {
           font-weight: bold
        }

        button.details-control {
            margin-left:-3px; 
            margin-top:-5px;
        }

        .table-responsive th {
           cursor: pointer;
        }

        .clear { clear: both; }

        .spColVal { display: none; }

        .inputBox {
            float: left;
            position:relative;
            min-height:25px;
            width:100%;
        }

        input.X {
            position:absolute;
            left:0;
            top:0;
            width:100%;
            min-width:100px;
            height: 25px;
            font-weight: bold;
        }

        .txt1,
        .inputBox .txt {
            white-space:normal; 
            word-break:break-all;
            padding-left:5px;
            padding-right:5px;
            min-width:100px;
        }



        button.neu,
        button.eintreten,
        button.austreten,
        button.back,
        button.submit,
        button.edit {
            position: absolute;
            right: 0px;
            top: -10px;
            height: 50px;
            width: 50px;
            background-color: #006000;
            color: white;
            font-weight: bold;
            margin-left: 10px;
            border-radius: 25px;
            border: 0px;
            box-shadow: 2px 2px grey;
            z-index:1;
        }

        button.submit {
            display: none;
            background-color: #809080;
        }

        button.austreten {
            top: initial;
            bottom:0px; 
            background-color: #d65652;
        }

        button.eintreten {
            top: initial;
            bottom:0px; 
            background-color: #1daa07;
        }

        .dropdown-menu > li > a.neu {
            background-color: #146e06;
            color:white;
        }

        .dropdown-menu > li > a.neu:hover {
            background-color: #1aa804;
            color:white;
            background-image: initial;
        }

        a {
            cursor: pointer;
        }

        select[disabled],
        textarea[disabled] {
           background-color:transparent;
           border: 1px solid transparent;
        }

        @-webkit-keyframes pulse  {
              0% {background-color: #863902;} 
             25% {background-color: #d55b04;}
             50% {background-color: #fa8e40;}
             75% {background-color: #fac9a7;}
            100% {background-color: #ffd800;}
        }


    #demo.box.jplist(style="height:100%; position:relative;position:absolute; padding:0;")

          .panel.box.panel-top.navbar.navbar-inverse.navbar-fixed-top(style="float:left; min-height:50px; padding-top:10px; padding-left:10px; margin-bottom:0; border-radius:0; padding-left:5px;") 
                - if(!IsMobile)
                    div(style="float:left; display:block; height:30px; color:white; font-weigth:bold; font-size:25px; padding-left:0px; padding-right:20px;") TCGW  

                .jplist-drop-down.left(style="margin-top:0; margin-bottom:10px; width:200px;", 
                        data-control-type='filter-drop-down', 
                        data-control-name='MemberStatus-filter', 
                        data-control-action='filter')
                    ul
                        li
                          span(data-path='default') Status Filter: Keiner
                        li
                          span(data-path='.AAW') Aufnahmeantrag

                        - each value, name in StatusOptions
                            li
                              span(data-path='.MemberStatus_#{name}') #{value}
                        li.dropdown-header Eintritt...
                            li
                              span(data-path='.ye2016') 2016
                            li
                              span(data-path='.ye2017') 2017
                            li
                              span(data-path='.ye2018') 2018
                            li
                              span(data-path='.ye2019') 2019
                            li
                              span(data-path='.ye2020') 2020
                            li
                              span(data-path='.ye2021') 2021
                            li
                              span(data-path='.ye2022') 2022
                            li
                              span(data-path='.ye2023') 2023
                            li
                              span(data-path='.ye2024') 2024
                            li
                              span(data-path='.ye2025') 2025
                            li
                              span(data-path='.ye2026') 2026
                            li
                              span(data-path='.ye2027') 2027
                        - if (showLeaveDate)
                            li.dropdown-header Austritt...
                                li
                                  span(data-path='.yx2016') 2016
                                li
                                  span(data-path='.yx2017') 2017
                                li
                                  span(data-path='.yx2018') 2018
                                li
                                  span(data-path='.yx2019') 2019
                                li
                                  span(data-path='.ye2020') 2020
                                li
                                  span(data-path='.ye2021') 2021
                                li
                                  span(data-path='.ye2022') 2022
                                li
                                  span(data-path='.ye2023') 2023
                                li
                                  span(data-path='.ye2024') 2024
                                li
                                  span(data-path='.ye2025') 2025
                                li
                                  span(data-path='.ye2026') 2026
                                li
                                  span(data-path='.ye2027') 2027
                        li.dropdown-header Bankeinzug...
                            li
                              span(data-path='.Einzug') mit Einzug
                            li
                              span(data-path='.OhneEinzug') ohne Einzug

                   
                .hidden#SortControl(
                    data-control-type="default-sort", 
                    data-control-name="sort", 
                    data-control-action="sort",
                    data-path=".LastName", 
                    data-order="asc", 
                    data-type="text")
                  

    
                // filter
                .filter.text-filter-box(style="float:left; width: 200px;  margin-bottom:10px;  margin-right:30px")
                  input(data-path='.fData', type='text', value='', placeholder='Filter: Name, Email, ...', data-control-type='textbox', data-control-name='Name-filter', data-control-action='filter', style="width:100%; height:30px; padding-left:5px; ")



                div(style="float:left;  margin-bottom:10px;  margin-right:10px;")
                   select#tag(style="width:200px; height:30px; ")
                      option(value="") Anzeigen: Nichts
                      - each spCol, iCol in allSpecialColumns
                        - if (spCol.Name.indexOf("Training") >= 0 || spCol.Name.indexOf("Rechnung") >= 0)
                            option(value="#{spCol.Name}") #{spCol.Description}
                 
                   - if (specialColumns.length == 1)
                       script.
                           $("select#tag").val("#{specialColumns[0].Name}");
                           console.log("set select: #{specialColumns[0].Name}");


                - if (specialColumns.length == 1)
                    .jplist-drop-down.left(style="width:200px; margin-bottom:10px;  margin-top:0; margin-right:30px" data-control-type='filter-drop-down', data-control-name='Value-filter', data-control-action='filter')
                      ul
                        li
                          span(data-path='default') Alle
                        li
                          span(data-path=".spColValueNotSet") nur OHNE Wert
                        li
                          span(data-path=".spColValueSet") nur MIT Wert


                button#resetFilter(style="display:none",
                     type="button", 
                     class="jplist-reset-btn",
                     data-control-type="reset", 
                     data-control-name="reset", 
                     data-control-action="reset")
                        | Reset  
                        i.fa.fa-share

                div(style="float:left; height:40px; vertical-align:middle; margin-top:0px; margin-right:30px; color:white; ")
                    span  Anzahl:
                    span#RowCount
                    br
                    div.RowSum 
                        span  Summe:
                        span#RowSum
                        span €

                div.dropdown(style="float:right; margin-left:10px; margin-right:10px; margin-bottom:10px;  height:30px; background-color: #006000;  padding:5px;")
                  a.dropdown-toggle(style="height:30px; background-color: #006000; color: white;" href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | Mehr ...
                  ul.dropdown-menu.dropdown-menu-right
                    li.dropdown-header Neues Mitglied...
                    li
                      a.neu(href='#') ... anlegen

                    li.dropdown-header Ausgetretene Mitglieder...
                    li
                      a(href='/members/list?showExists') ... anzeigen
                    li
                      a(href='/members/list') ... nicht anzeigen

                    li.dropdown-header Prüfungen...
                        a(href='/members/pruefen', onclick="this.target='_blank'") Alle durchführen

                    li.dropdown-header Verzehrumlage ...
                      a(href='/members/Verzehrumlage', onclick="this.target='_blank'") ... auswerten


                    li.dropdown-header Statistik ...
                      a(href='/members/Statistik', onclick="this.target='_blank'") ... auswerten

                    li.dropdown-header Listen ...
                      a(href='/members/adressListe', onclick="this.target='_blank'") ... Adresseliste


                -if (specialColumns.length == 1   &&    specialColumns[0].Name.substr(0,8) == "Rechnung")

                    div.dropdown(style="float:right; margin-bottom:10px; margin-right:10px;  height:30px; background-color: #006000;  padding:5px;")
                      a.dropdown-toggle(style="height:30px; background-color: #006000; color: white;" href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                        | #{specialColumns[0].Name} ... 
                        span.caret
                      ul.dropdown-menu
                        li
                          a(check_href='/members/rechnungenerstellen?type=#{specialColumns[0].Name}' title="#{specialColumns[0].Name} erstellen?" message="<strong>ACHTUNG:</strong> <br> Vorhandene Rechnungen werden überschreiben") ... Erstellen
                        li
                          a(check_href='/members/sendRechnungen?type=#{specialColumns[0].Name}'  title="#{specialColumns[0].Name} versenden?" message="<strong>ACHTUNG:</strong> <br> Du erzeugst jetzt eine große Anzahl von Emails") ... Versenden
                        li
                          a(href='/members/printrechnungenohneemailadresse?type=#{specialColumns[0].Name}', onclick="this.target='_blank'") ... mit fehlender Email drucken
                        li
                          a(href='/members/SEPA?type=#{specialColumns[0].Name}') ... Einzug / SEPA
                        li
                          a(href='/members/rechnungenerstellen?type=PinBrief', onclick="this.target='_blank'") ... Pin Briefe erstellen
                        li
                          a(check_href='/members/sendRechnungen?type=PinBrief'  title="Pin Briefe versenden?" message="<strong>ACHTUNG:</strong> <br> Du erzeugst jetzt eine große Anzahl von Emails") ... Pin Briefe Versenden


                div(style="clear:both")



        
          // data
          .table-responsive(style="position:absolute; top:50px; left:0px; width:100%; height:calc(100% - 50px); overflow:auto; margin:0;")    
              table.table.table.table-condensed.table-hover.list.box.text-shadow
                tr
                   th 
                   th(data-SortName=".MNr") MNr
                   th(data-SortName=".FirstName") Vorname
                   th(data-SortName=".LastName") Nachname
                   th(data-SortName=".Email") Email
                   - if (showLeaveDate)
                     th(data-SortName=".LeaveDate") Austritt

                   - each spCol, iCol in specialColumns
                        th(data-SortName=".spColVal" style="word-break:break-word; white-space:normal;") #{spCol.Description}

                   - each spCol, iCol in additionalColumns
                        th(data-SortName=".spColVal" style="word-break:break-word; white-space:normal;") #{spCol.Description}

                - each value, index in rows
                     +memberRowTemplate (value)
  
          .box.jplist-no-results.text-shadow.align-center
            p No results found

  
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
  
    script.
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                if (decodeURIComponent(pair[0]) == variable) {
                    return decodeURIComponent(pair[1]);
                }
            }
            console.log('Query variable %s not found', variable);
        }

        function OnResize() {
            $('#demo').width($(window).width());
            console.log ("h=" + $(".panel-top").height());

            $('.table-responsive').css("top", $(".panel-top").height()  + 10);
            $('.table-responsive').height($('.table-responsive').parent().height() -  $('.table-responsive').position().top);
            $('.details').width($(window).width()-60);
        }


        function GetValue($item, FieldName) {
           return $item.find(".inputBox[FieldName=" + FieldName + "] input").val();
        }

        function SetValue($item, FieldName, value) {
            $item.find(".inputBox[FieldName=" + FieldName + "] input").val(value);
            $item.find("td." + FieldName).html(value);
        }

        function SetBackgroundColor($item, FieldName, color) {
            $item.find(".inputBox[FieldName=" + FieldName + "] input").css("background-color", color);
            $item.find("td." + FieldName).css("background-color", color);
        }


        var lastChecked_IBAN_NUMBER = null;

        function checkIBAN($item) {
	
            var IBAN_NUMBER = GetValue($item, "AccountIBAN").trim();
	
            if (IBAN_NUMBER == "") {
                SetValue($item, "AccountBIC", "");
                SetValue($item, "AccountBankName", "");
                return;
            }

            if (lastChecked_IBAN_NUMBER ==  IBAN_NUMBER)
               return;
            lastChecked_IBAN_NUMBER = IBAN_NUMBER;

            var url = "https://openiban.com/validate/" + IBAN_NUMBER + "?getBIC=true&validateBankCode=true";
            // var url = "https://api.bank.codes/iban/?format=json&api_key=4bbe777d2aeaa97e2ef309fdab405b39&iban="  + IBAN_NUMBER;
            
            $.ajax({
                url : url,
                type : 'GET',
                dataType : 'json',
                error: function(data) {
                    alert ("Error in IBAN Validation WebService");
                },
                success : function(data) {
                                if (data.valid) {
                                    SetValue($item, "AccountBIC", data.bankData.bic);
                                    SetValue($item, "AccountBankName", data.bankData.name);

                                    SetBackgroundColor($item, 'AccountIBAN', 'white');
                                 } else {
                                    SetValue($item, "AccountBIC", "IBAN falsch");
                                    SetValue($item, "AccountBankName", "IBAN falsch");

                                    SetBackgroundColor($item, 'AccountIBAN',  '#ff8080');
                               }
                          }
            });

			
        }



        function InitList() {
            $('#demo').jplist({
                items_box: '.list'
                , item_path: '.list-item'
                , panel_path: '.panel'
                , redrawCallback: function(collection, $dataview, statuses){
                            //this code occurs on every jplist action
                            console.log("redrawCallback:" + collection);
                            $("#RowCount").text($dataview.length);
                            var sum = 0;
                            $dataview.each(function(){
                               var $v = $(this).find("input.spColValueSet");
                               var x1 = 0;
                               if ($v.length == 1)
                                   x1 = parseInt($v.val());
                               else {
                                   $v = $(this).find(".fData.spColVal");
                                   if ($v.length == 1) 
                                       x1 = parseInt($v.text());
                               }
                               if (!isNaN(x1))
                                  sum += x1;
                            });

                            if (sum > 0) {
                                $("#RowSum").text(sum);
                                $(".RowSum").show();
                            } else {
                                $(".RowSum").hide();
                            }
                    }        
            });
        }

        function switchToFullScreen() {
          var doc = window.document;
          var docEl = doc.documentElement;

          var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;

          requestFullScreen.call(docEl);
        }


        function ScrollToId(id) {
            var sElm = "[memberid='" + id +"']";
            var $elm = $(sElm);

            $elm.find(".details").show();
            $elm.find("button.details-control").text("-");

            if (getQueryVariable("new")) {
                // 
                // automatic edit for new members
                //
                $elm.find('button.edit').click();
            }

            if ($elm.length == 1) {
                var top = $elm.offset().top;
                top -= $('.table-responsive').offset().top;

                console.log("jump to element: " + top);
                $('.table-responsive').animate({
                        scrollTop: top
                    }, 500);
                } else {

                   bootbox.confirm({
                        title: "Mitglied ist ausgeblendet",
                        message:  "alle Filter entfernen?",
                        buttons: {
                            confirm: {
                                label: 'Jo, maach et ...',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'Abbrechen',
                                className: 'btn-danger'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                               $("#resetFilter").click();                                 
                               setTimeout(function(){ ScrollToId(id); }, 100);
                            }
                        }
                    });

                    console.log("element not found");
                } 
        }


        $('document').ready(function () {
           InitList();
           OnResize();

           var url = window.location.href;
           var p = window.location.href.indexOf("?");

           if (p > 0) {
                var id = getQueryVariable("id");
                if (id != undefined) {
                   ScrollToId(id);
                }
           }

        });

        $(window).resize(function () {
            OnResize();
        });

        //
        // hide adress bar on mobile android
        //
        $("#fullScreen").submit(function( event ) {
              switchToFullScreen();
        });

        setTimeout(function(){
            // This hides the address bar:
            window.scrollTo(0, 1);
        }, 0);


        $('#tag').change(function(){
            window.location.href =  window.location.href.split("?")[0] + "?tag=" + $(this).val();
        });


        $("[data-SortName]").mousedown(function(){
           var sCtrl = $("#SortControl");

           if (sCtrl.attr("data-path") == $(this).attr("data-SortName")) {
              //
              // toggle order
              //
             if (sCtrl.attr("data-order") == "desc")
                sCtrl.attr("data-order", "asc");
             else
                sCtrl.attr("data-order", "desc");
           }
           else {
             sCtrl.attr("data-path", $(this).attr("data-SortName"));
             sCtrl.attr("data-order", "asc");
           }



           InitList();
        });


        $('[targetId]').click(function() {
            ScrollToId($(this).attr("targetId"));
        });

        $('.tagDefaultValue').click(function() {
            $p = $(this).parent()
            $p.find('input').val("#{DefaultBeitrag}");
            $p.find('input').trigger('change');
        });

        $('.tagClear').click(function() {
            $p = $(this).parent()
            $p.find('input').val("");
            $p.find('input').trigger('change');
        });

        // Add event listener for opening and closing details
        $('#demo').on('click', '.details-control', function () {
            $p = $(this).parent()

            if ($(this).text() == "+") {
                $p.find(".details").show();
                $(this).text("-");
            } else {
                $p.find(".details").hide();
                $(this).text("+");
            }


        } );


        $('#demo').on('click', 'button.edit', function () {
            $(this).closest(".list-item").find(".inputBox").each(function() {
                var $txt =  $(this).find(".txt");
                var txt =  $txt.text().trim();

                // $txt.css("display", "none");
                $(this).closest(".list-item").find(".showOnEdit").css("display", "initial");

                var inputbox = $(this).find("input");
                if (inputbox.length == 0)
                    $(this).append("<input class='X' type=text  value='" + txt + "'/>");
            });

            $(this).closest(".list-item").find("[disabled]").each(function() {
                $(this).attr("disabled", null);
            });

            $(this).hide();
            $(this).parent().find(".submit").show();
        });


        $('#demo').on('click', '.neu', function () {
            window.location.href = '/members/new';
        });


        $('#demo').on('click', 'button.austreten, button.eintreten ', function () {
            var MemberID = $(this).closest(".list-item").attr("MemberID");

            var data= getEditData($(this));

            var aktiv = $(this).hasClass("eintreten");

            var sLeaveDate = moment().format("DD.MM.YYYY");

            data.push({ Name: "MemberID", Value: MemberID });
            data.push({ Name: "Aktiv", Value: aktiv.toString() });
            if (aktiv) {
              data.push({ Name: "LeaveDate", Value: "" });
            } else {
              data.push({ Name: "LeaveDate", Value: sLeaveDate });
            }

            //
            // Falls ein Aufnahmeantrag gestellt wurde,
            // Ist der mit dem Eintritt erledigt
            //
            data.push({ Name: "AufnahmeAntrag", Value: "" });

            var params = "";
            for (i in data) {
              params += "&" + encodeURIComponent(data[i].Name) + "=" + encodeURIComponent(data[i].Value.trim()); 
            }

            $(this).css("-webkit-animation", "pulse 1s infinite");

            var res = $.get("/members/editmember?" + params.substr(1));

            bootbox.confirm({
                        title: "Änderung gesendet",
                        message:  "Liste neu laden?",
                        buttons: {
                            confirm: {
                                label: 'Jo, maach et ...',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'Abbrechen',
                                className: 'btn-danger'
                            }
                        },
                        callback: function (result) {
                            $(this).css("-webkit-animation", "");
                            if (result) {
                                window.location.href = '/members/list?id=' + MemberID + "&showExists";
                            }
                        }
                    });


        });


        function getEditData(element) {
            var data=[];
            var $listItem = element.closest(".list-item");
            
            $listItem.find(".inputBox input, textarea, select").each(function() {
                data.push({
                        Name: $(this).parent().attr("FieldName"), 
                        Value: $(this).val()
                });

                var l = data.length-1;
                if (data[l].Name == "AccountIBAN") {
                    // data.push({ Name: "AccountBIC", Value: $(this).closest(".list-item").find(".AccountBIC").text()});
                    data.push({ Name: "AccountBankName", Value: $(this).closest(".list-item").find(".AccountBankName").text()});
                }

            });

            console.log(JSON.stringify(data))
            return data
        }

        $('#demo').on('click', '.submit', function () {

            $(this).css("-webkit-animation", "pulse 1s infinite");

            var data= getEditData($(this));

            var MemberID = $(this).closest(".list-item").attr("MemberID");
            data.push({ Name: "MemberID", Value: MemberID });

            var params = "";
            for (i in data) {
              params += "&" + encodeURIComponent(data[i].Name) + "=" + encodeURIComponent(data[i].Value.trim()); 
            }

            $.get("/members/editmember?" + params.substr(1))
            .done(function() {
                window.location.href = '/members/list?id=' + MemberID;
            })
           .fail(function() {
              alert( "Fehler beim Senden der Daten" );
           });


        });


        $('#demo').on('keyup', 'input.X, textarea', function () {
            $(this).closest(".list-item").find(".submit").css("background-color", "orange");
            $(this).closest(".list-item").css("background-color", "#fff7c9");
            var isAccountIBAN = ($(this).parent().attr("FieldName") == "AccountIBAN");
            if (isAccountIBAN)
                checkIBAN($(this).closest(".list-item"));
        });

        $('#demo').on('change', 'input.X, textarea, select', function () {
            $(this).closest(".list-item").find(".submit").css("background-color", "orange");
            $(this).closest(".list-item").css("background-color", "#fff7c9");
            var isAccountIBAN = ($(this).parent().attr("FieldName") == "AccountIBAN");
            if (isAccountIBAN)
                checkIBAN($(this).closest(".list-item"));
        });


       
        $('#demo').on('change', '.spCol input', function () {
           $(this).parent().find(".spColVal").html($(this).val());
           console.log ("changed");

           var FieldName = $(this).attr("FieldName");
           var FieldValue = $(this).val();
           var MemberID = $(this).closest(".list-item").attr("MemberID");


           // erlaube dem Server 5 Sekunden um die Änderung zu speichern
           $.ajaxSetup({timeout:5000});

           $.get("/members/setfield?MemberID=" + MemberID + "&FieldName=" + encodeURIComponent(FieldName) + "&FieldValue=" + encodeURIComponent(FieldValue), function(data){
               console.log("ersponse from server: " + data);
           }).done(function() {
              })
              .fail(function() {
                alert( "Error: Feld konnte nicht zum Server gesendet werden" );
              })
              .always(function() {
              });

        });
        
        $('#demo').on('click', '[check_href]', function(){
           var xhref = $(this).attr("check_href");
           var message = $(this).attr("message");
           var title = $(this).attr("title");

           bootbox.confirm({
                title: title,
                message: message,
                buttons: {
                    confirm: {
                        label: 'Jo, maach et ...',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Abbrechen',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result)
                       window.location.href =  xhref;
                }
            });

           //var answer = confirm($(this).attr("check_href"));
        });
