﻿mixin inputBox(description, fieldname)
    div(style="display: flex") 
        div(style="display: block; padding: 1rem") 
            div #{description}
            input(name=fieldname, type="text", style="width:10rem")  


mixin title(description)
        div(style="display: block; padding: 10px; width: 100%; background:#ccc") 
            div #{description}


html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    title PIN für Mitgliedsnummer anzeigen 
    
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')

    style.
        td {
            padding:10px;
        } 
        input, select {
            height:30px;
            width:180px;
            padding-left:5px;
        }
        .ll1 {
            float: left;
            width: 140;
            margin-top:20px;
        }

        .ll2 {
            float: left;
            width: 180;
            margin-top:20px;    
        }
        .container1 {
            display: flex;
            width: 100%;
            flex-direction: column;
            flex-wrap:wrap; 
            align-items : center;
        }

        .#xx > div {
            min-width: 80px;
            min-height: 80px;
            border: 1px solid black;
            flex-direction: row;
            display: block;

        }

        .container {
            width: 25rem;
            flex-direction: row;
            display: flex;
            flex-wrap:wrap; 
            flex-flow: row wrap;
            align-items: flex-start;

        }

   body(style="margin:0; background:#e0e0e0;")
      .div(style='margin:0; padding: 0; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif')

          div(style=" background-color:#004000;  color:white;text-align:center; margin:0; padding-top:0.5rem; padding-bottom:0.5rem; width:100%")
            h1 TC Grün Weiss Am&nbsp;Kreuzberg&nbsp;e.V.
            h2 PIN für Mitgliedsnummer anzeigen

          div(style="background:white;")
              form(method="post", action='/bookingManagement/ShowPinForMemberIdResult' )
                 div

                    .container1

                        .container 
                            +inputBox("Mitgliesnummer", "memberId")  
                        .container(style="width:25rem") 

                            div(style="display: flex") 
                                div(style="display: block; padding: 10px") 
                                    button(type="submit" style="width:24rem; max-width:100%") PIN anzeigen

