﻿// Altersstruktur   
h1(style="margin-left:#{MarginLeft}")  Alterstruktur nach Jahrgang

- var Jahr = [];
- var JahrB = [];
- for (var i = 0; i <= 100; i++)
    - Jahr[i] = {d: 2020 - i,   m: 0, w: 0};
    - JahrB[i] = {d: 2020 - i,   m: 0, w: 0};

    - Jahr[101] = {d: "Ohne Geburtstag",   m: 0, w: 0};
    - Jahr[102] = {d: "Gesamt",   m: 0, w: 0};
    - JahrB[101] = { m: 0, w: 0};
    - JahrB[102] = { m: 0, w: 0};


- each member, index in rows
    - if ((member.Aktiv != "false") && (member.MemberStatus != "E"))
        - var katA = (member.MemberStatus == "J" || member.MemberStatus == "St" || member.MemberStatus == "FM"  || member.MemberStatus == "VM" || member.MemberStatus == "RM" || member.MemberStatus == "JT")
        - var a = 101;
        - if (member.Age != "??") 
            - a = Math.floor(member.Age);
        - if (isNaN(a))
            - a = 101;
        - else
          - if (a < 0 || a > 100) a = 0;

        - Jahr[a][member.Sex]++;      
        - Jahr[102][member.Sex]++;      

        - if (!katA)
            - JahrB[a][member.Sex]++;      
            - JahrB[102][member.Sex]++;      

- console.log("Calc Altersstruktur nach Jahrgang done");


div(style="margin-top:20px; margin-left:#{MarginLeft};")
    p 
        | Diese Aufstellung beinhaltet ruhenden Mitglieder, Fördermitglieder und Schnupperkinder.


// data
.table-responsive(style="height:initial; clear:both;  margin:0;")    
    table.table.table.table-condensed.table-hover.list.box.text-shadow(style="width:auto; margin-left:#{MarginLeft};")
        tr
            th(data-SortName=".Alter") Jahrgang
            th(data-SortName=".M") Männlich 
            th(data-SortName=".W") Weiblich
            th(data-SortName=".G") Gesamt

        - each value, index in Jahr
            - if (value.d % 10 == 9)
                tr(style="background-color:grey")
                    td &nbsp;
                    td &nbsp;
                    td &nbsp;
                    td &nbsp;

            - if (value.m + value.w > 0)
                tr
                td.Alter #{value.d}
                td.M 
                    | #{value.m}
                    // - if (JahrB[index].m)
                    //    |  (-#{JahrB[index].m})
                td.W 
                    | #{value.w}  
                    //- if (JahrB[index].w)
                    //    |  (-#{JahrB[index].w})
                td.G 
                    | #{value.m + value.w}   
                    // (-#{JahrB[index].m + JahrB[index].w})
