﻿mixin enterYear(item)
    - if (item.EnterDate)
        - var p =  item.EnterDate.lastIndexOf(".");
        - p++;
        - var year = item.EnterDate.substr(p);
        - var inThisYear = (new Date().getFullYear()-1 == year)
        - if (inThisYear)
                strong #{year} 
                span (#{item.EnterDate.substr(0,p-1)})
        - else
            | #{year}

mixin memberRowTemplate(item)
        -if ((item.Aktiv != "false") && isMasterMember(item))
            - var color = "black"
            - if (!item.Verzehrumlage) color = "#808080"

            tr.list-item.box(id="id#{item.MemberID}", style="color:#{color}")
                td 
                  .Name.fData  
                        strong #{item.LastName}, #{item.FirstName}  
                        span(style="font-size: 12; margin-left:10px")  (#{item.Age})

                        - if (item.MemberStatus == "FöM")
                                span(style="font-size: 12; margin-left:10px")  Fördermitglied
                        - if (item.MemberStatus == "RM")
                                span(style="font-size: 12; margin-left:10px")  Ruhend
                        - if (item.MemberStatus == "JT")
                                span(style="font-size: 12; margin-left:10px")  Schnupperkind
                        - if (item.MemberStatus == "E")
                                span(style="font-size: 12; margin-left:10px")  Eltern


                    - var family = familyMembers(item.MasterMemberID)
                    - if (family.length > 1)
                        div(style="margin-left:30px")
                            - each fItem, i1 in family
                                -if (fItem != item)
                                    span #{fItem.LastName}, #{fItem.FirstName} 
                                    span(style="font-size: 12; margin-left:10px") (#{fItem.Age})
                                    span(style="font-size: 12; margin-left:10px")   
                                        +enterYear(item)
                                    br

                td.Eintritt.fData
                    +enterYear(item)


                td.Betrag.fData(style="text-align:right") 
                    strong #{item.Verzehrumlage?item.Verzehrumlage:"--"}

    
doctype html
extends layout

block content
    style.
        button.back,
        button.submit,
        button.edit {
            position: absolute;
            right: 0px;
            top: -10px;
            height: 50px;
            width: 50px;
            background-color: #006000;
            color: white;
            font-weight: bold;
            margin-left: 10px;
            border-radius: 25px;
            border: 0px;
            box-shadow: 2px 2px grey;
            z-index:1;
        }

        .right {
            text-align: right
        }

        .borderRight {
            border-right: 1px solid black;
        }
        .borderLeft {
            border-Left: 1px solid black;
        }


    - var MarginLeft = "100px" 
    - if (IsMobile) MarginLeft = "0px"

    #demo.box.jplist(style="height:100%; position:relative; overflow:auto")
        .panel.box.panel-top(style="background:#a0a0a0; padding-bottom:10px; margin-bottom:0; border-radius:0; padding-left:5px; display:block; height:50px;") 

            button.back(style="display:block; float:left; position:relative; margin-right: 20px; top:5; left:-10; ", onClick="window.location.href='/members/list';") Back 

            .hidden#SortControl(
                    data-control-type="default-sort", 
                    data-control-name="sort", 
                    data-control-action="sort",
                    data-path=".Alter", 
                    data-order="asc", 
                    data-type="text")
                  
            div(style="display:block; float:left;  height:50px; padding-top:15px;;  margin-right:30px") 
                | Statistik 


            button.print(style="display:block; float:right; position:relative; margin-right: 20px; top:5; left:-10; ") Print 

            div(style="clear:left")

           
        .PrintHeader(style="display:none; margin-left:#{MarginLeft}; margin-botton:50px;")
            h1 TCGW Statistik #{new Date().getFullYear()}
            - var d = new Date()
            p Druckdatum: #{d.getDate()}.#{d.getMonth()+1}.#{d.getFullYear()}
            

        .StatistikContent
            // Altersstruktur   
            h1(style="margin-left:#{MarginLeft}")  Alterstruktur

            - var Ages = [];
            - var AgesB = [];
            - for (var i = 0; i <= 10; i++)
                - Ages[i] = {d: i*10 + " - " + (i*10+9),   m: 0, w: 0};
                - AgesB[i] = {d: i*10 + " - " + (i*10+9),   m: 0, w: 0};

             - Ages[11] = {d: "Ohne Geburtstag",   m: 0, w: 0};
             - Ages[12] = {d: "Gesamt",   m: 0, w: 0};
             - AgesB[11] = { m: 0, w: 0};
             - AgesB[12] = { m: 0, w: 0};

            - each member, index in rows
                 - if ((member.Aktiv != "false") && (member.MemberStatus != "E"))
                   - var katA = (member.MemberStatus == "J" || member.MemberStatus == "St" || member.MemberStatus == "FM"  || member.MemberStatus == "VM" || member.MemberStatus == "RM" || member.MemberStatus == "JT")

                   - var a = 11;
                   - if (member.Age != "??") 
                        - a = Math.floor(member.Age/10);
                   - if (isNaN(a))
                        - a = 11;
                   - Ages[a][member.Sex]++;      
                   - Ages[12][member.Sex]++;      

                   - if (!katA)
                       - AgesB[a][member.Sex]++;      
                       - AgesB[12][member.Sex]++;      

             - console.log("Calc Altersstruktur done");


            div(style="margin-top:20px; margin-left:#{MarginLeft};")
                p 
                   | Diese Aufstellung beinhaltet ruhenden Mitglieder, Fördermitglieder und Schnupperkinder.
                   br
                   | In Klammern ist die Differenz zu "voll aktiven Mitgliedern" angegeben.

            // data
            .table-responsive(style="height:initial; clear:both;  margin:0;")    
                table.table.table.table-condensed.table-hover.list.box.text-shadow(style="width:auto; margin-left:#{MarginLeft};")
                    tr
                        th(data-SortName=".Alter") Alter
                        th(data-SortName=".M") Männlich 
                        th(data-SortName=".W") Weiblich
                        th(data-SortName=".G") Gesamt

                    - each value, index in Ages
                          tr
                            td.Alter #{value.d}
                            td.M 
                                | #{value.m}
                                - if (AgesB[index].m > 0)
                                    span(style="color:grey; font-size:12px")  (-#{AgesB[index].m})
                            td.W 
                                | #{value.w}  
                                - if (AgesB[index].w > 0)
                                    span(style="color:grey; font-size:12px")  (-#{AgesB[index].w})
                            td.G 
                                | #{value.m + value.w}   
                                - if ((AgesB[index].m + AgesB[index].w) > 0)
                                  span(style="color:grey; font-size:12px") (-#{AgesB[index].m + AgesB[index].w})


            include Stat_AltersStruktur


            // Eintritt/Austritt   
            h1(style="margin-left:#{MarginLeft}")  Eintritte / Austritte / Differenz


            .table-responsive(style="height:initial; clear:both;  margin:0; height: inherit")    
                table.table.table.table-condensed.table-hover.list.box.text-shadow(style="width:auto; margin-left:#{MarginLeft};")
                    tr
                        th.borderRight.borderLeft Jahr
                        - each status, name in StatusOptions
                            - if (name == "00")
                                th.borderRight(data-SortName=".Gesamt") Gesamt
                            - else 
                                th.borderRight(data-SortName=".#{name}") #{status}
                        th.borderRight(data-SortName=".Gesamt") Beitrag
                    tr 
                    - each year, iYear in EnterLeave
                        - if (year)
                            tr
                                td.borderLeft.borderRight 
                                    strong #{iYear}
                                - each status, name in StatusOptions
                                   td.right.borderRight 
                                        -if (year[name])
                                          |  #{year[name].Enter}
                                          br
                                          | #{year[name].Leave}
                                          br
                                          strong  #{year[name].Enter - year[name].Leave}
                                td.right.borderRight      
                                   | #{EnterLeaveBetrag[iYear].Enter} €
                                   br 
                                   | #{EnterLeaveBetrag[iYear].Leave} €
                                   br
                                   strong  #{EnterLeaveBetrag[iYear].Enter - EnterLeaveBetrag[iYear].Leave} €


            p(style="margin-left:#{MarginLeft}; font-size:16px; ")
                | Die Beiträgswerte sind mit aktuellen Beitragssätzen berechnet.
                br
                | Dadurch sind die Werte in früheren Jahren nicht ganz zutreffend.
                br
                | Die letzte Beitragserhöhung hat im Jahr 2016 stattgefunden. 
                br
                br
                br


            h1(style="margin-left:#{MarginLeft}")  Mitglieder nach Status

            - var Stati = {};
            - var Verzehrumlage = 0;
            - var Umlage = 0;

            - each member, index in rows
                 - if ((member.Aktiv != "false") && (member.MemberStatus != "E") )
                     - if(member.Verzehrumlage)
                          - Verzehrumlage += parseInt(member.Verzehrumlage)
                     - if(member.Umlage)
                          - Umlage += parseInt(member.Umlage)
                          - console.log ("Umlage:" + member.Umlage + " " + member.FirstName + " " + member.LastName);

                     - if(!Stati[member.MemberStatus])
                          - Stati[member.MemberStatus] = 0
                     - Stati[member.MemberStatus]++

             - console.log("Calc Status done");


            div(style="margin-top:20px; margin-left:#{MarginLeft};")

            // data
            .table-responsive(style="height:initial; clear:both;  margin:0;")    
                table.table.table.table-condensed.table-hover.list.box.text-shadow(style="width:auto; margin-left:#{MarginLeft};")
                    tr
                        th Status
                        th Anzahl
                        th Beitrag

                    - var CntMembers = 0
                    - var SummeBeitrag = 0

                    - each value, index in Stati
                          - if (true) // (index == "J" || index == "JT" || index == "J3" || index == "St" || index == "FM"  || index == "VM" || index == "FöM")
                               - CntMembers += value
                          tr
                            td 
                              -if (StatusOptions[index])
                                | #{StatusOptions[index]}
                              - else
                                | #{index}
                            td.right #{value}
                            td.right
                                - if (Beitraege[index])
                                   - SummeBeitrag += value * Beitraege[index].Beitrag; 
                                   | #{value * Beitraege[index].Beitrag} €
                                 - else
                                   |  --

                    tr
                        td Gesamt
                        td.right #{CntMembers}
                        td.right #{SummeBeitrag} €

                p.right(style="width:350px; margin-left:#{MarginLeft}; font-size:16px; ")
                    | abzgl. Verzehrumlage von #{Verzehrumlage} € = #{SummeBeitrag - Verzehrumlage} €
                    br
                    | abzgl. einmalige Umlage von #{Umlage} € =  #{SummeBeitrag - Verzehrumlage - Umlage} €

  
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
  
    script.
        function OnResize() {
                    $('#demo').width($(window).width());
        }

        // function InitList() {
        //     $('#demo').jplist({
        //         items_box: '.list'
        //         , item_path: '.list-item'
        //         , panel_path: '.panel'
        //     });
        // }

        $('document').ready(function () {
           // InitList();
           OnResize();
        });

        $(window).resize(function () {
            OnResize();
        });

        $("[data-SortName]").mousedown(function(){
           var sCtrl = $("#SortControl");

           if (sCtrl.attr("data-path") == $(this).attr("data-SortName")) {
              //
              // toggle order
              //
             if (sCtrl.attr("data-order") == "desc")
                sCtrl.attr("data-order", "asc");
             else
                sCtrl.attr("data-order", "desc");
           }
           else {
             sCtrl.attr("data-path", $(this).attr("data-SortName"));
             sCtrl.attr("data-order", "asc");
           }



           InitList();
        });

        $(".Print").click(function(){
             $("#demo.box.jplist").css("height", "initial");
             $(".table-responsive").css("height", "initial");
             $(".panel-top").css("display", "none");
             $("body").css("overflow", "initial");
             $(".PrintHeader").css("display", "block");
        });

