﻿html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    title TCGW Mitgliederverwaltung
    
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    //script(src='/javascripts/jquery.min.js')

    style.
        td {
            padding:10px;
        } 
        input {
            height:30px;
            width:180px;
            padding-left:5px;
        }
        .ll1 {
            float: left;
            width: 140;
            margin-top:20px;
        }

        .ll2 {
            float: left;
            width: 180;
            margin-top:20px;    
        }
                    



   body(style="margin:0; background:#e0e0e0; height:100%")
      div(style='position:absolute; height:100%; width:100%; margin:0; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif')

          div(style="display:block; background-color:#004000; min-height:50px; width:calc(100% - 20px); color:white;text-align:center; padding:10px;")
            h1 Willkommen in der Mitgliederverwaltung des TCGW

          div(style="background:white;  position:absolute; left:50%; top:50%; padding:20px; max-width:100%; height:250px; margin-left:-180px; margin-top:-125px;")
              form(method="post", action='/login?url=#{url}' )
                 div
                    h2 Login

                    div 
                        .ll1(style="white-space:nobr") Benutzer (Email)
                        .ll2 
                            input(type="text", name="login", id="login")


                   div(style="clear:both; margin-top:20px;") 
                        .ll1 Passwort
                        .ll2 
                            input(type="password", name="pass", id="pass")


                   div(style="clear:both") 
                         br
                        .ll1 
                            - if (loginfailed)
                               p(style="color:red; weight:bold")  Login fehlgeschlagen !!
                            - else
                               &nbsp;
                        .ll2 
                            input(type="submit", value="Login", style="margin-left:80px; width:100px;")

                   div(style="clear:both") 

        
  
   