﻿mixin enterYear(item)
    - if (item.EnterDate)
        - var p =  item.EnterDate.lastIndexOf(".");
        - p++;
        - var year = item.EnterDate.substr(p);
        - var inThisYear = (new Date().getFullYear()-1 == year)
        - if (inThisYear)
                strong #{year} 
                span (#{item.EnterDate.substr(0,p-1)})
        - else
            | #{year}

mixin memberRowTemplate(item)
        
            - var color = "black"
            - if (!item.Verzehrumlage) color = "#808080"

            tr.list-item.box(id="id#{item.MemberID}", style="color:#{color}")
                td 
                  .Name.fData  
                        strong #{item.LastName}, #{item.FirstName}  
                        span(style="font-size: 12; margin-left:10px")  (#{item.Age})

                        - if (item.MemberStatus == "FöM")
                                span(style="font-size: 12; margin-left:10px")  Fördermitglied
                        - if (item.MemberStatus == "RM")
                                span(style="font-size: 12; margin-left:10px")  Ruhend
                        - if (item.MemberStatus == "JT")
                                span(style="font-size: 12; margin-left:10px")  Schnupperkind
                        - if (item.MemberStatus == "E")
                                span(style="font-size: 12; margin-left:10px")  Eltern


                    - var family = familyMembers(item.MasterMemberID)
                    - if (family.length > 1)
                        div(style="margin-left:30px")
                            - each fItem, i1 in family
                                -if (fItem != item)
                                    span #{fItem.LastName}, #{fItem.FirstName} 
                                    span(style="font-size: 12; margin-left:10px") (#{fItem.Age})
                                    span(style="font-size: 12; margin-left:10px")   
                                        +enterYear(item)
                                    br

                td.Eintritt.fData
                    +enterYear(item)


                td.Betrag.fData(style="text-align:right") 
                    strong #{item.Verzehrumlage?item.Verzehrumlage:"--"}

    
doctype html
extends layout

block content
    style.
        button.back,
        button.submit,
        button.edit {
            position: absolute;
            right: 0px;
            top: -10px;
            height: 50px;
            width: 50px;
            background-color: #006000;
            color: white;
            font-weight: bold;
            margin-left: 10px;
            border-radius: 25px;
            border: 0px;
            box-shadow: 2px 2px grey;
            z-index:1;
        }

    #demo.box.jplist(style="height:100%; position:relative;")
        .panel.box.panel-top(style="background:#a0a0a0; padding-bottom:10px; margin-bottom:0; border-radius:0; padding-left:5px; display:block; height:50px;") 

            button.back(style="display:block; float:left; position:relative; margin-right: 20px; top:5; left:-10; ", onClick="window.location.href='/members/list';") Back 

            .hidden#SortControl(
                    data-control-type="default-sort", 
                    data-control-name="sort", 
                    data-control-action="sort",
                    data-path=".Name", 
                    data-order="asc", 
                    data-type="text")
                  
            div(style="display:block; float:left;  height:50px; padding-top:15px;;  margin-right:30px") 
                | Verzehrumlage 


            // filter
            .filter.text-filter-box(style="float:left; margin-top:10px; width: 150px;  margin-right:30px")
                input(data-path='.fData', type='text', value='', placeholder='Filter', data-control-type='textbox', data-control-name='Name-filter', data-control-action='filter', style="width:100%; height:30px; padding-left:5px; ")



            div(style="float:left; margin-top:15px; margin-right:30px; color:white; ")
                span  Anzahl:
                span#RowCount

                span(style="margin-left:20px")  Summe:
                span#RowSum
                span €

            button.print(style="display:block; float:right; position:relative; margin-right: 20px; top:5; left:-10; ") Print 

            div(style="clear:left")

           
        .PrintHeader(style="display:none; margin-left:#{MarginLeft}; margin-botton:50px;")
            h1 Auswertung TCGW Verzehrumlage #{new Date().getFullYear()}
            - var d = new Date()
            p Druckdatum: #{d.getDate()}.#{d.getMonth()+1}.#{d.getFullYear()}
            

         - var MarginLeft = "100px" 
         - if(IsMobile) MarginLeft = "0px"

        // data
        .table-responsive(style="height:calc(100% - 50px); clear:both; overflow:auto; margin:0;")    
            table.table.table.table-condensed.table-hover.list.box.text-shadow(style="width:auto; margin-left:#{MarginLeft};")
                tr
                    th(data-SortName=".Name") Name
                    th(data-SortName=".Eintritt") Eintritt
                    th(data-SortName=".Betrag") Betrag

                - each value, index in rows
                        +memberRowTemplate (value)
  
        .box.jplist-no-results.text-shadow.align-center
            p No results found

  
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
  
    script.
        function OnResize() {
                    $('#demo').width($(window).width());
                    $('.table-responsive').height($('.table-responsive').parent().height() -  $('.table-responsive').position().top);
                    $('.details').width($(window).width()-60);
        }

        function InitList() {
            $('#demo').jplist({
                items_box: '.list'
                , item_path: '.list-item'
                , panel_path: '.panel'
                , redrawCallback: function(collection, $dataview, statuses){

                     var cnt = 0;
                     var sum = 0;

                     $dataview.each(function(){
                               var $v = $(this).find(".Betrag");
                               var x1 = 0;

                               if ($v.length == 1)
                                   x1 = parseInt($v.text());

                               if (!isNaN(x1) && x1 > 0) {
                                  sum += x1;
                                  cnt ++;
                               }
                            });

                     $("#RowSum").text(sum);
                     $("#RowCount").text(cnt);

                }
            });
        }

        $('document').ready(function () {
           InitList();
           OnResize();
        });

        $(window).resize(function () {
            OnResize();
        });

        $("[data-SortName]").mousedown(function(){
           var sCtrl = $("#SortControl");

           if (sCtrl.attr("data-path") == $(this).attr("data-SortName")) {
              //
              // toggle order
              //
             if (sCtrl.attr("data-order") == "desc")
                sCtrl.attr("data-order", "asc");
             else
                sCtrl.attr("data-order", "desc");
           }
           else {
             sCtrl.attr("data-path", $(this).attr("data-SortName"));
             sCtrl.attr("data-order", "asc");
           }



           InitList();
        });

        $(".Print").click(function(){
             $("#demo.box.jplist").css("height", "initial");
             $(".table-responsive").css("height", "initial");
             $(".panel-top").css("display", "none");
             $("body").css("overflow", "initial");
             $(".PrintHeader").css("display", "block");
        });
